/* Utilities */
.container {
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Text sizes */
.lead {
    font-size: 30px;
    font-weight: bolder;
    font-family: Roboto,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}
