/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.slideshow {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px white;
  }
  
.slideshow-container {
    width: 2400px;
    transition: 1s ease;
    display: flex;
}

.item {
    display: flex;
    width: 800px;
    align-items: center;
}
 
.slide {
    animation: slide 24s ease infinite;
}
    
.item img {
    width: 50%
}
  
.item .caption {
    width: 50%
}
  
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(0);
    }
    37.5% {
      transform: translateX(-33.333%);
    }
    62.5% {
      transform: translateX(-33.333%);
    }
    75% {
      transform: translateX(-66.667%);
    }
    99% {
      transform: translateX(-66.667%);
    }
    100% {
      transform: translateX(0);
    }
  }



/* Slider Test */
.slideshow2 {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px white;
  }
  
.slideshow2-container {
    width: 300%;
    transition: 1s ease;
    display: flex;
}

.item2 {
    display: flex;
    width: 800px;
    align-items: center;
}
 
.slide2 {
    animation: slide 24s ease infinite;
}
    
.item2 img {
    width: 50%
}
  
.item2 .caption {
    width: 50%
}
  
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(0);
    }
    37.5% {
      transform: translateX(-33.333%);
    }
    62.5% {
      transform: translateX(-33.333%);
    }
    75% {
      transform: translateX(-66.667%);
    }
    99% {
      transform: translateX(-66.667%);
    }
    100% {
      transform: translateX(0);
    }
  }






  /* teeeeeeeeeeeeeeeest */
  img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 250px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }






/* Image Slider 1*/

/* .slider-container {
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img{
    width: 100%;
    object-fit: fill;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
} */



/* Image slider 2 */
/* .slider-frame {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

@keyframes slide_animation {
    0% {left: 0px;}
    25% {left: 300px;}
    50% {left: 600px;}
    75% {left: 900px;}
    100% {left: 1200px;}
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    animation-name: slide_animation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
} */